body {
  background-color: #000000;  
}


.container {
    width: 70%;
    margin: auto;
    text-align: center;
    justify-content: center;
    align-content: center;
    align-items: center;
    flex-direction: column;
    display: flex;


  }

  
  .dice {
    /* text-align: center;   */
    display: flex;
    flex-direction: column;
    justify-content: center ;
  }

  .dice #dicePic {
    width: 50%;
    margin: 0 auto;
    width: 10vw;
  }


  #dicePic {
    display: none;
    margin-top: 30px;
    border-radius: 20px;
  }
  

  .rollMe {
    text-shadow: 5px 0 #232931;
    font-size: 3rem;
    color: #cc614e;
    /* font-family: 'Monoton', cursive; */
    font-family: 'Press Start 2P', cursive;
    margin-top: 90px; 
  }


#yourScoreText p{
  color: rgb(255, 255, 255);
  display: flex;
  justify-content: center;
}

  #score {
    color: rgb(133, 108, 204);
    font-size: 0.8rem;

  }

  
  p {
    font-size: 1rem;
    color: #ffff80;
    text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
    font-family: 'Press Start 2P', cursive;
    
  }
  

  .rollbox  {
    display: flex;
    justify-content: center;
    
  }


  #button {
    background-color: rgb(255, 255, 255);
    width: 40px;  
    height: 20px;
    display: flex;
    justify-content: center;
    color: rgb(199, 90, 90);
    font-family: 'Press Start 2P', cursive;
    font-size: 0.8rem;
    

  }


  .whatbox{
    width: 200px;
    height: 300px;
    background-color: rgba(255, 127, 80, 0);
    display: flex;
    flex-direction: column;
    justify-content: center ;
  }


.gameOverText{
  font-size: 8rem;
  padding-left: 0px;
  display: flex;
  justify-content: center;
  margin-top: -700px;
  color: rgb(230, 52, 52);
  
}

#winTextShow{
  font-size: 8rem;
  padding-left: 0px;
  display: flex;
  justify-content: center;
  margin-top: -700px;
  color: rgb(232, 235, 82);
  
}

#player1 {
  display: flex;
  justify-content: center;
  font-family: 'Press Start 2P', cursive;
  color: whitesmoke;
  margin-top: 40px;
}

#player1 p {
  font-size: 0.6rem;
  color: whitesmoke;
}

  

  #description {
    margin-top: 20px;
    width: 40vw;

  }

  #description p{
    color: rgb(255, 255, 255);
  
    
  }




  @media (max-width: 480px) {
    .text {
      font-size: 12px;
    }
    h1 {
      font-size: 2.9vw;
    }
    h2 {
      font-size: 3vh;
    }
    h3 {
      font-size: 2vmin;
    }